{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6">
                <label>Title</label><br/>
                {{ form.title }}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label>Publishing Date</label><br/>
                {{ form.publishing_date }}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label>Description</label><br/>
                {{ form.description }}
            </div>
        </div>
        <div class="row">
             <div>
                 <br/>
                 {{ form.media }}
                 {{ form.content }}
             </div>
            <input class="btn btn-sm btn-primary" value="Guardar" name="Guardar" type="submit">
        </div>
    </form>
</div>
{% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                text: "{{m}}",
                icon: "success",
                confirmButtonColor: "#2a4b7c"
            })
        </script>
        {% endfor %}
        {% endif %}
{% endblock %}