{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Message List</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                <tr class="text-dark">
                    <th scope="col">Name</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th colspan="2" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for page in page_obj %}
                <tr>
                    <td style="cursor:default" title="{{ page.contact_name|safe }}">{{ page.contact_name|slice:":30"|safe }}</td>
                    <td style="cursor:default" title="{{ page.contact_mail|safe }}">{{ page.contact_mail|slice:":30"|safe }}</td>
                    <td style="cursor:default" title="{{ page.contact_subject|safe }}">{{ page.contact_subject|slice:":30"|safe }}</td>
                    <td style="cursor:default">{{ page.contact_message|slice:":100"|safe }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'view_message' page.id_message %}">View</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'delete_message' page.id_message %}">delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <!-- Pagination Controls -->
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- End pagination -->
        </div>
    </div>
</div>
{% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                text: "{{m}}",
                icon: "success",
                confirmButtonColor: "#2a4b7c"
            })
        </script>
        {% endfor %}
        {% endif %}
{% endblock %}