<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard-Personal Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block css %}
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/css_dashboard/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/css_dashboard/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Content Start -->
    <div class="content open">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <h2 class="text-primary mb-0"><a href="{% url 'dashboard' %}">Dashboard</a></h2>
            <div class="navbar-nav align-items-center ms-auto">
                {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{% static 'img/hacker.jpg' %}" alt=""
                             style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">{{ user.username|safe }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                        <a href="{% url 'article' %}" class="dropdown-item">Create Article</a>
                        <a href="{% url 'message' %}" class="dropdown-item">Message</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>

                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
        <!-- Navbar End -->

        {% block content %}{% endblock %}


        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Personal Blog</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->
</div>


<!-- JavaScript Libraries -->
<script src="{% static 'js/js_dashboard/jquery.min.js' %}"></script>
<script src="{% static 'js/js_dashboard/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/js_dashboard/main.js' %}"></script>
</body>
</html>
