{% extends 'app/Base_Template.html' %}
{% load static %}
{% block content %}
<!-- Blog List Start -->
{% for p in page_obj %}
<div class="container bg-white pt-2">
    <div class="row blog-item px-3 pb-2">
        <div class="col-md-0">
            <!-- <img class="img-fluid mb-4 mb-md-0" src="{% static 'app/img/blog-4.jpg' %}" alt="Image"> -->
        </div>
        <div class="col-md-12">
            <h2>{{ p.title }}</h2>
            <div class="d-flex mb-3">
                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{ p.publishing_date }}</small>
            </div>
            <p>
                {{ p.description|slice:":255"|safe }}
            </p>
            <a class="btn btn-link p-0" href="{% url 'detail_post' p.id_article %}">Read More <i
                    class="fa fa-angle-right"></i></a>
            <hr/>
        </div>
    </div>
</div>
<!-- Blog List End -->
{% endfor %}
<!-- Pagination Controls -->
<br/>
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
    {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
<!-- End pagination -->
{% endblock %}